@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .body {
        @apply bg-gradient-to-tl from-slate-300 via-white to-slate-100 text-slate-800 dark:bg-black dark:text-slate-500;
    }

    /***Global text-gradients***/
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-indigo-500;
    }

    /***Navbar***/
    .fixed-nav {
        @apply fixed top-0 w-full;
    }

    .navbar {
        @apply flex items-center justify-center z-10 bg-gradient-to-t from-transparent to-white dark:to-slate-900 backdrop-blur-md text-2xl;
    }

    /**Navbar links**/
    .pill {
        @apply my-2 py-2 px-2 hover:text-slate-500 dark:hover:text-slate-300 duration-100;
    }

    /**Categories**/
    .category-heading {
        @apply text-3xl font-black w-fit tracking-widest;
    }

    .home-section,
    .portfolio-section,
    .about-section {
        @apply w-10/12 sm:w-3/4 xl:w-1/2 mx-auto min-h-screen;
    }

    .portfolio-grid {
        @apply grid md:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2 gap-8 my-12;
    }

    .portfolio-card {
        @apply px-4 py-4 border-l border-slate-400 dark:border-slate-700 h-fit;
    }

    .about-grid {
        @apply grid sm:grid-cols-2 gap-8 my-12;
    }

    /**Buttons**/
    .cta-btn {
        @apply border border-slate-600 px-4 py-2 dark:hover:text-slate-300 hover:text-black duration-100;
    }

    /*Links*/
    .app-link {
        @apply hover:text-gradient;
    }
}

header {
    margin-bottom: 15vh;
}
nav > * {
    margin-inline: 1rem;
}

strong {
    font-family: 'Ubuntu mono', monospace;   
}

.cta-btn:hover {
    border-image-source: linear-gradient(to bottom right, #22d3ee, #6638F0);
    border-image-slice: 1;
}